services:
  snsw-ai:
    build: .
    container_name: snsw-ai-container
    volumes:
      - .:/app
      - C:\MODELS:/root/.cache
      - ./tts_outputs:/app/tts_outputs
      - ./data:/app/data
      - ./dev:/app/dev
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - CUDA_VISIBLE_DEVICES=0
      - KAGGLE_ENVIRONMENT=0
      - TORCH_HOME=/root/.cache/torch
    tty: true
    stdin_open: true
